@using Bookclub.Models.Books.BookViews;
@using Bookclub.Views.Components.ContainerComponents;

<ContainerComponent State="State">
    <Content>
        <div align="center">
            <TextBoxBase @ref="IsbnTextBox"
                         @bind-Value="BookView.Isbn"
                         Placeholder="Isbn" />
            <br />
            <TextBoxBase @ref="Isbn13TextBox"
                         Placeholder="Isbn13" />
            <br />
            <TextBoxBase @ref="AuthorTextBox"
                         Placeholder="Author" />
            <br />
            <TextBoxBase @ref="TitleTextBox"
                         Placeholder="Title" />
            <br />
            <DropDownBase @ref=MediaTypeDropDown
                          TEnum="BookViewMediaType" />
            <br />
            <TextBoxBase @ref="SubtitleTextBox"
                         Placeholder="Subtitle" />
            <br />
            <DatePickerBase @ref="PublishDatePicker" />

            <br />
            <TextBoxBase @ref="IdTextBox"
                         Placeholder="Id" />
            <br />
            <ButtonBase @ref=SubmitButton
                        Label="Submit Book" />
        </div>
    </Content>
</ContainerComponent>