@using Bookclub.Models.Books.BookViews;
@using Bookclub.Views.Components.ContainerComponents;
@using Bookclub.Models.Colors;
@inject NavigationManager NavigationManager


    <ContainerComponent State="State">
        <Content>
            <div>
                <TextBoxBase @ref="IsbnTextBox"
                             @bind-Value="@IsbnInput"
                             Placeholder="@BookView.Isbn" />
                <br />
                <TextBoxBase @ref="Isbn13TextBox"
                             @bind-Value="BookView.Isbn13"
                             Placeholder="Isbn13" />
                <br />
                <TextBoxBase @ref="AuthorTextBox"
                             @bind-Value="BookView.PrimaryAuthor"
                             Placeholder="Author" />
                <br />

                <TextBoxBase @ref="TitleTextBox"
                             @bind-Value="BookView.Title"
                             Placeholder="Title" />
                <br />
                <TextBoxBase @ref="SubtitleTextBox"
                             @bind-Value="BookView.Subtitle"
                             Placeholder="Subtitle" />
                <br />
                <DropDownBase @ref=MediaTypeDropDown
                              @bind-Value="BookView.MediaType"
                              TEnum="BookViewMediaType" />
                <br />
                <TextBoxBase @ref=Publisher
                             @bind-Value="BookView.Publisher"
                             Placeholder="Publisher" />
                <br />
                <TextBoxBase @ref=ListPrice
                             @bind-Value="BookView.ListPrice"
                             PlaceHolder="List Price" />
                <br />
                <DatePickerBase @ref="PublishDatePicker"
                                @bind-Value="BookView.PublishedDate" />

                <br />
                <ButtonBase @ref=ConfirmEditButton
                            Label="Confirm"
                            OnClick="(() => EditBookAsync(BookToEdit))" />

                <ButtonBase @ref=CancelEditButton
                            Label="Cancel"
                            OnClick="@CancelEditAsync" />

                <br />
                <LabelBase @ref=StatusLabel />

            </div>
        </Content>
    </ContainerComponent>
