@page "/books"
@using Bookclub.Views.Components
@using Bookclub.Models.Books

@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="container">
    @if (ShowBookList)
    {
    <h3 class="p-3 text-center">Current Books</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Isbn</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>List Price</th>
                    <th>Edit</th>
                    <th>Remove</th>
                    @if (ShowEditComponent)
                    {
                        <th>Cancel</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var book in BookList)
                {
                    <tr>
                        <td>@book.Isbn</td>
                        <td>@book.Author</td>
                        <td>@book.Title</td>
                        <td>@book.Subtitle</td>
                        <td>$@book.ListPrice</td>
                        <td>
                            <button @onclick="(() => ToggleEdit(book))">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button @onclick="() => DeleteBookAsync(book.Id)">
                                Delete
                            </button>
                        </td>

                        @if (ShowEditComponent)
                        {
                            <td>
                                <button @onclick="(() => ShowEditComponent = false)">
                                    Cancel
                                </button>
                            </td>
                        }

                        <LabelBase @ref="StatusLabel"></LabelBase>
                    </tr>
                }
            </tbody>
        </table>
    }


    @if (ShowEditComponent)
    {
        <h3 class="p-3">Edit Book</h3>
        <EditBookComponent />
    }
    else
    {

        <h3 class="p-3">Add Book</h3>
        <AddBookComponent />
    }

</div>



