@page "/index"
@using Bookclub.Services.Users
@inject HttpClient Http
@inject IUserService userService


<h1>Welcome to Bookclub</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome @loggedInUser.email</p>
    </Authorized>
    <NotAuthorized>
        <p>You are signed out.</p>
    </NotAuthorized>
</AuthorizeView>

